@media (max-width:768px) {
.logo, .buttons{
  display: none;
}
header{
flex-direction: column;

}
.location,.searchbar{
  flex-direction: column;

}
.orderBanner{
height: fit-content;
padding: 20px 0;
}
.orderBannerItems{
  height: fit-content;
  padding: 20px 0;
}

}